@font-face {
    font-family: Sofia Pro;
    src: url("../../../assets/fonts/SofiaPro.otf") format("opentype");
}


.title-app{
  font: normal normal bold 16px Sofia Pro;
  letter-spacing: 0px;
  color: white;
}

.title-app-pri{
    color: black;
    font: normal normal bold 16px Sofia Pro;
}

.information-tag{
    color: white;
    font: normal normal bold 16px Sofia Pro;
}

.result{
    font: normal normal normal 14px Sofia Pro;
    color: white;
}

.user-information{
    margin-top: 50px;
}

.image-profile{
    border-radius: 50%;
    margin-right: 40px;
}

.color-blue{
    color: #0b08b9;
    cursor: pointer;
}

.profile-user{
    display: flex;
    align-content: space-between;
    align-items: center;
}

.information-tag{
    height: 30px;
    margin-top: 40px;
    color: #dd5;
}

.container-profile{
    border-radius: 8px;
    padding: 40px 40px;
    margin-top: 30px;
    background: #34495E;
    color: white;
    width: 50%;
    margin-right: 20px;
}

.divisor{
    display: flex;
}

.container-task{
    margin-top: 30px;
}