    <div class="title-app" (click)="backtoList();"> <span class="color-blue">
            <- Volver a listado de clientes</span>   <span class="color-blue"> || Detalle de usuario</span> 
        </div>
        <div class="divisor">
            <div class="container-profile">
                <div class="profile-user">
                    <img class="image-profile"
                        src="{{ userSelected.profile_image }}"
                        alt="">
                    <span class="title-app">Nombre de usuario:  <span class="result"> {{ userSelected.name }} {{ userSelected.last_name }} </span> </span>
                </div>
                <div class="user-information">
                    <span class="title-app">Informacion adicional</span><br>
                    <div class="information-tag">
                        <span class="tag">Telefono: </span> <span class="result">{{ userSelected.phone }}</span>
                    </div>
                    <div class="information-tag">
                        <span class="tag">Direccion: </span> <span class="result">{{ userSelected.direction }}</span>
                    </div>
                    <div class="information-tag">
                        <span class="tag">Tipo de Cliente: </span> <span class="result">{{ userSelected.type_client }}</span>
                    </div>
                    <div class="information-tag">
                        <span class="tag">Numero de Contrato: </span> <span class="result">{{ userSelected.contract_id }}</span>
                    </div>
                    <div class="information-tag">
                        <span class="tag">Fecha de Contrato: </span> <span class="result">{{ userSelected.date_contract }}</span>
                    </div>
                </div>
            </div>
            <div class="task-list container-profile">
                <span class="title-app">Lista de actividades</span>
                <div class="container-task">
                    <div class="task-list" *ngFor="let item of userSelected.tasks let i = index;">
                        * {{ item }}
                    </div>
                </div>
            </div>
        </div>
        

        