<div>
  <div class="menu">
    <div class="title-app">Lista de usuarios</div>
    <div>
      <button class="logic-info-button" (click)="goToLogicTest()">Ir a Prueba logica</button>

    </div>
  </div>

  <div class="list-user">
    <table class="rwd-table">
      <tr align="left">
        <th></th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <th>Cliente</th>
        <th>Contrato</th>
      </tr>
      <tr align="left" *ngFor="let item of users let i = index;" (click)="editUser(item.id);">
        <td> <img class="profile-imagen" src="{{ item.profile_image }}" alt="" srcset=""></td>
        <td>{{ item.name }}</td>
        <td>{{ item.last_name }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.direction }}</td>
        <td>{{ item.type_client }}</td>
        <td>{{ item.contract_id }}</td>
      </tr>
    </table>
  </div>
</div>