@font-face {
    font-family: Sofia Pro;
    src: url("../../../assets/fonts/SofiaPro.otf") format("opentype");
}


.title-app{
  font: normal normal bold 16px Sofia Pro;
  letter-spacing: 0px;
  color: #707070;
}


.rwd-table {
    background: #34495E;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
    width: 100%;
    margin-top: 30px;
    padding: 20px;
}

th, td:before {
    color: #dd5;
    font: normal normal bold 16px Sofia Pro;
}

td{
    padding-left: 30px;
    height: 50px;
    padding: 10px 30px;
    font: normal normal  14px Sofia Pro;
    cursor: pointer;
}

tr:hover{
    background-color: #1e2e3e!important;
}

th{
    padding-left: 30px;
}


@media  (min-width: 480px) {
    th, td{
        display: table-cell;
        padding: .25em .5em;
    }
}

.profile-imagen{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}


.logic-info-button{
    background: #34495e;
    outline: none;
    border: none;
    border-radius: 6px;
    height: 40px;
    color: white;
    cursor: pointer;
}


.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}