<div class="logic-template">
    <span class="color-blue" (click)="backtoList();">
        <- Volver a listado de clientes</span> <span class="title-app"> || Prueba Logica</span>

            <div class="container-logic" align="center">
                <p class="white">Suponiendo un número entero positivo “n”. Se tiene que f(n) corresponde a la
                    sumatoria de los cuadrados de los divisores de “n”.
                    Implementar un algoritmo que dado un valor inicial y final de “n” (ambos
                    incluyéndose), halle la sumatoria de los cuadrados de los divisores de “n” para el
                    intervalo indicado, tal que f(n) sea un cuadrado perfecto. En la salida debe
                    especificarse a qué valor de “n” pertenece a f(n).</p><br><br>
                <label class="label-input">Primer
                    Numero</label><br>
                <input oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                    class="input-style" [(ngModel)]="first_number" type="text"><br>
                <label class="label-input">Segundo
                    Numero</label><br>
                <input oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                    class="input-style" [(ngModel)]="second_number" type="text"><br>
                <div class="footer">
                    <button (click)="logicTest()" class="logic-info-button">Ejecutar prueba logica</button>
                </div>

                <div class="result">
                    <span>Resultado</span>
                    <div class="loading" *ngIf="loading">
                        <img src="../../../assets/loading/loading_2.svg" height="100" width="100" alt="" srcset="">
                    </div>
                    <div *ngIf="!loading" style="margin-top: 20px;">
                        <div *ngFor="let item of final_array let i = index;">
                            {{item.number}} => {{item.value}}
                        </div>
                    </div>
                </div>
            </div>
</div>