.title-app{
    font: normal normal bold 16px Sofia Pro;
    letter-spacing: 0px;
    color: #707070;
  }

.container-logic{
    background: #34495E;
    border-radius: 10px;
    margin-top: 20px;
    padding: 30px;
}

.label-input{
    font: normal normal bold 16px Sofia Pro;
    color: white;
}


.input-style{
    width: 60%;
    margin-top: 30px;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: none;
    padding-left: 30px;
    margin-bottom: 30px;
}

.logic-info-button{
    background: #1e2e3e;
    outline: none;
    border: none;
    border-radius: 6px;
    height: 40px;
    color: white;
    cursor: pointer;
}


.result{
    background: white;
    margin-top: 50px;
    border-radius: 10px;
    width: 40%;
    height: 200px;
    padding: 20px;
}


.loading{
    padding-top: 40px;
}

.color-blue{
    color: #0b08b9;
    cursor: pointer;
    font: normal normal bold 16px Sofia Pro;
}

.white{
    font: normal normal normal 16px Sofia Pro;
    color: white;
    text-align: justify;
}