.container{
    max-width: 1024px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@font-face {
    font-family: Sofia Pro;
    src: url("../assets/fonts/SofiaPro.otf") format("opentype");
  }


.title-app{
  font: normal normal bold 40px Sofia Pro;
  letter-spacing: 0px;
  color: #707070;
}


body{
  background: #f3f6f9;
}